# Ignore list for Eagle, a PCB layout tool

# Ignore all subdirectories
*/*

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
*.job
NMX-200_BOM.ods
*.xls
NMX-201-B_centroid.csv
*.zip
*.pdf
NMX-201.pro
NMX-200 Fab and Assm Files - Rev3/NMX-200_BOM-rev3.xls